.Header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    min-width: 80px;
}
.Header__left{
    background-color: white;
    flex:0.5;
    color: gray;
    border-radius: 30px;
    align-items: center;
    padding: 10px;
    display:flex;
}
.Header__left > input{
    border: none;
    width: 100%;
}
.Header__right{
    display: flex;
    align-items: center;
}
.Header__right>h4{
    margin-left: 10px;
}